.possible-value {
    font-size: 20px;
}

.cell-content > .nine-table , .cell-value {
    width: 85px;
    height: 85px;
    text-align: center;
    vertical-align: middle;
}

.cell-value {
    display: table-cell;
    font-size: 40px;
}

.cell-content{
    border: 1px solid gray;
}

.hidden {
    color: white;
}